audioop-lts==0.2.2
bitarray==3.11.0
bitstring==4.4.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
click-default-group==1.2.4
combo_lock==0.3.1
cryptography==50.0.1
filelock==3.32.7
hiredis==3.4.1
hivemind-audio-binary-protocol==2.1.3
hivemind-core==3.4.0
hivemind-http-protocol==0.0.1
hivemind-plugin-manager==0.5.0
hivemind-redis-database==0.0.3
hivemind-websocket-protocol==0.0.3
hivemind_bus_client==0.4.4
idna==3.20
importlib_metadata==9.0.1
json-database==0.10.1
kthread==0.2.3
langcodes==3.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
memory-tempfile==2.2.3
ovos-config==1.2.2
ovos-plugin-manager==0.9.0
ovos-simple-listener==0.0.6
ovos-utils==0.8.5
ovos_bus_client==1.3.7
pexpect==4.9.0
poorman-handshake==1.0.1
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pybase64==1.5.0
pycparser==3.0
pycryptodomex==3.23.0
pyee==12.1.1
Pygments==2.21.0
pyOpenSSL==26.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
quebra-frases==0.3.7
redis==8.1.0
regex==2026.9.10
requests==2.34.2
rich==13.9.4
rich-click==1.9.9
setuptools==81.0.0
six==1.17.0
SpeechRecognition==3.17.0
standard-aifc==3.13.0
standard-chunk==3.13.0
tibs==0.5.7
tornado==6.5.10
typing_extensions==4.16.0
urllib3==2.8.0
watchdog==6.0.0
websocket-client==1.9.2
z85base91==0.0.5
zipp==4.1.0
